/* Item container styles */
.item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #1a1a1a; /* gray */
    border-radius: 16px;
    padding: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); /* Light shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .item-container:hover {
    transform: scale(1.05); 
    background-color: #252525; /* Lighter gray */
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2); 
  }
  
  /* Image container styles */
  .image-container {
    width: 300px;
    padding: 16px;
    border-radius: 12px;
    overflow: hidden;
    display: flex; /* Ensures the image is centered within the container */
    justify-content: center;
  }
  
  /* Item image styles */
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
  }
  

/* Title container styles */
.title-container {
    margin-top: 16px;
    background-color: transparent;
    font-family: Arial, sans-serif;
    width: 100%;
    text-align: left; /* Left-align text within this container */
  }
  
  /* Title styles */
  .title {
    font-family: Sansation;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0;
    color: #efecec;
    background-color: transparent;
  }
  
  /* Description styles (if necessary) */
  .description {
    text-align: left;
    font-family: Sansation;
    font-size: 14px;
    color: #cccccc;
    margin-top: 8px;
    line-height: 1.5;
    background-color: transparent; 
  }
  .description-container {
    background-color: transparent;
    width: 100%;
  }