.image2_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main_image {
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 10px;
    border-radius: 5px;
  }
/*  <img src={`${import.meta.env.BASE_URL}/images/background_lore.jpg`} alt="background_image" className='lore_image' />*/ 
.background_lore_background {
    background-color: rgb(99, 66, 130);
    background-image: url('/images/membership2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: 1.3fr 1fr; 
    grid-template-rows: 0.1fr 3fr 1fr;
    gap: 2rem;
    padding: 2rem; 
    box-sizing: border-box;
}

.video {
    width: 100%; 
    height: auto;
    border-width: thick;
    border-style: groove;
    border-color: rgb(88, 112, 79);
    border-radius: 14px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

}
.video_container{
    grid-area: 2 / 1 / 2 / 2; 
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom:5rem;
}
.video_caption{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-top: 1rem;
}

.background_info {
    grid-area: 2 / 2 / 2 / 3;
    font-size: 2rem;
    color: #fff; 
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.background_title{
    font-weight: bold;
}
.background_description1, .background_description2, .background_description3{
    font-size: large;
}

.background_description2, .background_description3{
    margin-top: 30px;
}
.background_description1{
    margin-top: 30px;
}

/*
MEMBERS PAGE
*/

.members_page{  
    height: 100vh;
    background-color: #1a1a1a; /* Dark background */
    color: #f5f5f5; /* Light text color */
}
.member_title{
    text-align: center;
    color: #f5f5f5; /* Light text color */
    margin-top: 40px;
    font-weight: bold;
    font-size: 4rem;
    background-color: #333; /* Darker background */
}
.members_page_sub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #333; /* Darker background */
    height: calc(100% - 100px);
    column-gap: 3rem;
    row-gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
.member_container{
    display: grid; 
    grid-template-columns: 5% 50% 5% 40% 5% ;
    grid-template-rows: 10% 15% 15% 40% 5%;
    background-color: #444; /* Darker background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding-right: 0.6rem;
}
.member_image{
    width: auto;
    height: auto;
    grid-area: 2 / 2 / 5 / 3;
}
.member_description{
    grid-area: 4 / 4 / 5 / 5;
    line-height: 1.5;
    word-wrap: break-word;
    overflow: hidden;
}
.member_name{
    grid-area: 2 / 4 / 3 / 5;
}
.member_position{
    grid-area: 3 / 4 / 4 / 5;

}
.member_position, .member_description, .member_name{
    color: #f5f5f5; /* Light text color */
}
/*
for each item: 
grid-area: row-start / col-start / row-end / col-end;
*/

@media (max-width: 768px) {
    .background_lore_background {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1rem;
        padding: 1rem;
    }

    .video_container {
        padding: 1rem;
    }

    .background_info {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .members_page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .members_page_sub {
        flex-grow: 1;
    }

    .members_page_sub {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1rem;
        column-gap: 1rem;
        row-gap: 1rem;
    }

    .member_container {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: auto auto auto auto;
        padding: 1rem;
    }

    .member_image {
        grid-area: 1 / 2 / 2 / 3;
    }

    .member_name, .member_position, .member_description {
        grid-area: auto / 2 / auto / 3;
    }
}
