.contact-page-container {
    margin-top: 80px;
    min-height: calc(100vh - 80px); /* updated to allow scrolling */
    background-color: #1a1a1a;
}

.contact-hero {
    min-height: calc(40vh - 80px); /* updated to allow scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('/images/album-page-hero.jpg');
    background-size: cover;
    background-position: center -80%;
    overflow: hidden;
    position: relative;
    padding: 40px 40px;
    border-radius: 8px;
    background-color: rgb(108, 108, 108);
    background-blend-mode: multiply;
}

.contact-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 40px 40px;
}

.contact-title-overlay {
    position: absolute;
    z-index: 2;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-content-container {
    background: linear-gradient(to right, #111, black);
    padding: 40px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 40px 40px;
    margin-bottom: 40px;
}

.contact-header {
    font-size: 2rem;
    font-weight: bold;
    color: #e9204f;
    margin-bottom: 20px;
    text-align: center;
}

.contact-content-sub {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.contant-content-left {
    flex: 1;
    max-width: 25%;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.help-topics-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.help-topics-list li {
    font-size: 1rem;
    color: #e9204f;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.help-topics-list li:hover {
    background-color: #e9204f;
    color: #1a1a1a;
}

.help-topics-list li.active-topic {
    background-color: #e9204f;
    color: #1a1a1a;
    font-weight: bold;
}

.contant-content-right {
    flex: 3;
    max-width: 75%;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.help-description {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

.dropdown-card {
    background-color: #2c2c2c;
    border-radius: 12px;
    width: calc(50% - 20px);
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.dropdown-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #e9204f;
    cursor: pointer;
    background-color: #1a1a1a;
    border-bottom: 1px solid #e9204f;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.dropdown-header:hover {
    background-color: #e9204f;
    color: #1a1a1a;
}

.dropdown-header:hover .dropdown-icon {
    color: #1a1a1a;
}

.dropdown-icon {
    font-size: 1.5rem;
    color: #e9204f;
    transition: transform 0.2s ease-out;
}

.dropdown-icon.expanded {
    transform: rotate(180deg);
}

.dropdown-content {
    font-size: 0.9rem;
    color: #e0e0e0;
    background-color: #2c2c2c;
    line-height: 1.5;
    overflow: hidden;
    transition: opacity 0.2s ease-out;
}

@media (max-width: 768px) {
    .contact-content-sub {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contant-content-left {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contant-content-right {
        max-width: 100%;
        justify-content: center;
    }

    .dropdown-card {
        width: 90%;
        max-width: none;
    }

    .contact-header {
        font-size: 1.5rem;
    }

    .contact-title-overlay {
        font-size: 40px;
    }

    .help-topics-list li {
        font-size: 0.9rem;
    }
}

    .contact-content-container {
        padding: 40px 40px;
    }

    .mg-container {
        background: linear-gradient(to right, #111, black);
        padding: 40px;
        padding-top: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 40px;
        margin: 40px 40px;
    }

    .mg-content-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        background: linear-gradient(145deg, #1a1a1a, #0f0f0f);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        padding: 40px 40px;
    }

    .mg-content-form {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        background-color: #2c2c2c;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .mg-content-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .mg-swiper {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .mg-input-with-icon {
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: #1a1a1a;
        padding: 12px 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        will-change: opacity, transform;
    }

    .mg-input, .mg-textarea {
        flex: 1;
        background: none;
        border: none;
        outline: none;
        color: #e0e0e0;
        font-size: 1rem;
    }

    .mg-textarea {
        resize: none;
        height: 100px;
    }

    .mg-button {
        background-color: #e9204f;
        color: #ffffff;
        border: none;
        padding: 12px 25px;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

.mg-button:hover {
    background-color: #ff4f6d;
    transform: scale(1.02);
}

.mg-content-form form, .newsletter-content-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mg-container h1, .newsletter-container h1 {
    font-size: 2.5rem;
    color: #e9204f;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.newsletter-container {
    background: linear-gradient(to right, #111, black);
    padding: 40px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;
}

.newsletter-content-container {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    background: linear-gradient(145deg, #1a1a1a, #0f0f0f);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
}

.newsletter-content-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.newsletter-content-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.newsletter-swiper {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.newsletter-input-with-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #1a1a1a;
    padding: 12px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    will-change: opacity, transform;
}

.newsletter-input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: #e0e0e0;
    font-size: 1rem;
}

.newsletter-button {
    background-color: #e9204f;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.newsletter-button:hover {
    background-color: #ff4f6d;
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .contact-content-sub {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contant-content-left {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contant-content-right {
        max-width: 100%;
        justify-content: center;
    }

    .dropdown-card {
        width: 90%;
        max-width: none;
    }

    .contact-header {
        font-size: 1.5rem;
    }

    .contact-title-overlay {
        font-size: 40px;
    }

    .help-topics-list li {
        font-size: 0.9rem;
    }

    .contact-content-container {
        padding: 20px 20px;
    }

    .mg-content-container, .newsletter-content-container {
        flex-direction: column;
    }

    .mg-content-image img, .newsletter-content-image img {
        width: 100%;
    }

    .mg-content-container, .newsletter-content-container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .mg-content-form, .newsletter-content-form {
        width: 100%;
        padding: 15px;
    }

    .mg-content-image, .newsletter-content-image {
        width: 100%;
    }

    .mg-swiper, .newsletter-swiper {
        width: 100%;
        height: auto;
    }

    .mg-button, .newsletter-button {
        width: 100%;
        font-size: 0.9rem;
        padding: 10px;
    }

    .mg-input-with-icon, .newsletter-input-with-icon {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .mg-input, .mg-textarea, .newsletter-input {
        width: 100%;
        font-size: 0.9rem;
    }
    .mg-container, .newsletter-container {
        padding: 0px 0px;
    }
}
.contact_info_title, .contact_info_phone, .phone_icon, .contact_info_email, .contact_info_message{
    color: white;
}
.contact_info_container {
    margin-top: 100px;
    height: 100vh;
    display: grid;
    grid-template-rows: 14.285% 14.285% 17.285% 21.285% 10.285% 14.285% 14.285%;
    grid-template-columns: 20% 20% 40% 20%;
    background-image: url('/images/contact3.jpg');
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
}

.contact_info_title {
    background-color: rgba(41, 36, 36, 0.6);
    grid-area: 2 / 2 / 3 / 4;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    border-radius: 10px;
}

.contact_info_phone {
    padding-left: 7px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgba(41, 36, 36, 0.6);
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 5fr 5fr 5fr 5fr;
    padding: 6px;
}

.contact_info_phone_title {
    align-items: center;
    font-weight: bold;
    font-size: larger;
    display: inline-flex;
}
.phone_icon{
    margin-left: 10px;
    margin-right: 8px;
    font-size: larger;
}
.contact_info_email{

border-radius: 8px;
margin-top: 20px;
background-color: rgba(41, 36, 36, 0.6);
grid-area: 4 / 2 / 5 / 3;
display: grid;
grid-template-columns: auto ;
grid-template-rows: 2fr 5fr 5fr 5fr 5fr;
padding: 6px;
}
.contact_info_email_title{
    align-items: center;
    font-weight: bold;
    font-size: larger;
    display: inline-flex;
}
.contact_info_email_icon{
    margin-left: 10px;
    margin-right: 8px;
    font-size: larger;
}
.contact_info_message{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(41, 36, 36, 0.6);
    grid-area: 3 / 3 / 6 / 4;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: auto;
}
.message_title{
    font-weight: bold;
    justify-self: center; 
    align-self: center;
    font-size: 30px;
}
.message_sub{
    width: 100%;
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 40% 15% ;
    grid-template-columns: 5% 37.5% 15% 37.5% 5%;
}
.name_field{
    grid-area: 1 / 2 / 2 / 3;
}
#name, #number, #email, #message {
    background-color: #333333;  
    color: rgb(248, 87, 87);  
    border: 2px solid #555555;  
    border-radius: 4px; 
    padding: 10px; 
    font-size: 1rem;  
    width: 100%; 
    box-sizing: border-box;  
    transition: all 0.3s ease;  
  }
  
  #message {
    height: 100%;
    text-align: center;
  }
  
  #name:focus, #number:focus, #email:focus, #message:focus {
    background-color: #131212;  
    border-color: #444444; 
    outline: none;  
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);  
  }
  
  #name:hover, #number:hover, #email:hover, #message:hover {
    border-color: #706f6f;
  }
  #name::placeholder, #number::placeholder, #email::placeholder, #message::placeholder {
    color: #dddddd;  
    opacity: 0.8;
  }
.number_field{
    grid-area: 1 / 4 / 2 / 5; 

}
.email_field{
    grid-area: 3 / 2 / 4/ 5;

}
.message_field{
    grid-area: 5 / 2 / 6 / 5;
    
}
.send_button {
    grid-area: 6 / 3 / 7 / 4;
    background-color: #f44336;  
    color: white;  
    border: 2px solid #d32f2f; 
    border-radius: 4px;  
    padding: 12px 20px;  
    font-size: 1rem; 
    width: auto;  
    cursor: pointer;  
    transition: all 0.3s ease;  
    margin-top: 10px; 
    height: 80%;  

    /*FOR CENTERING*/
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.send_button:hover {
    background-color: #e53935; 
    border-color: #c62828;  
}

.send_button:focus {
    outline: none; 
    box-shadow: 0 0 8px rgba(244, 67, 54, 0.5); 
}

.send_button:active {
    background-color: #c62828; 
    border-color: #b71c1c; 
}


@media (max-width: 768px) {
    .faq_container {
        grid-template-rows: auto auto;
        height: auto;
        padding: 10px;
    }
    .faq_sub {
        width: 100%;
        padding: 10px;
    }
    .contact_info_container {
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        height: auto;
        padding: 10px;
    }
    .contact_info_title {
        font-size: 40px;
        grid-area: auto;
    }
    .contact_info_phone, .contact_info_email, .contact_info_message {
        grid-area: auto;
        margin-top: 20px;
    }
    .contact_info_phone, .contact_info_email {
        grid-template-rows: auto;
    }
    .message_sub {
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
    }
    .send_button {
        width: 100%;
        margin-top: 10px;
    }
    #name, #number, #email, #message {
        font-size: 0.9rem;
    }

    
}

.email-text, .phone-text {
    font-size: clamp(0.6rem, 0.8vw, 1.2rem);
}